/*CSS reset*/
{
	margin: 0;
	padding: 0;
}

/*Block display of the html 5 elements*/
header, footer, article, aside, nav {
	display: block;
}

body {
	background: #f0f0f0;
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
}

h2 {
	padding: 22px 0;
	line-height: 44px;
	font-size: 28px;
}

h3 {
	padding: 11px 0;
	line-height: 22px;
	font-size: 18px;
}

p{
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background : url("../images/nav_background.png");
}

nav ul {
	margin: 0 auto;
	list-style: none;
	width: 940px;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	color:  #777;
}

nav ul li a:hover{
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 34px;
}

#intro {
	margin-top: 66px;
	padding: 44px;
	background-color: #467612;
	background: url(../images/intro_background.png), url(../images/intro_flower.png);
	background-repeat: repeat-x, no-repeat;




						
	
	background-size: 100%;
	border-radius: 22px;
}

#intro h2, #intro p {
	width: 336px;
}

#intro h2 {
	padding: 0 0 22px 0;
	color :#fff;
	font-weight: normal;
}

#intro p {
	padding: 0;
	color :#d9f499;
}

#content{
	display: table;
}

#mainContent{
	display: table-cell;
	padding-right: 22px;
	width: 620px;
}

aside {
	display: table-cell;
	width: 300px;
}

.blogspot div {
	-moz-column-count: 2;
	-moz-column-gap: 22px;

}

.blogspot header {
	-moz-column-span : all;
}

.blogspot img {
	margin :22px 0;
	box-shadow: 3px 3px 7px #777;
}