/*CSS reset*/
{
	margin: 0;
	padding: 0;
}

/*Block display of the html 5 elements*/
header, footer, article, aside, nav {
	display: block;
}

body {
	background: #f0f0f0;
	margin: 0 auto;
	width: 940px;
	font: 13px/22px Helvetica, Arial, sans-serif;
}

h2 {
	padding: 22px 0;
	line-height: 44px;
	font-size: 28px;
}

h3 {
	padding: 11px 0;
	line-height: 22px;
	font-size: 18px;
}

p{
	padding-bottom: 22px;
}

nav {
	position: absolute;
	left: 0;
	width: 100%;
	background-color: #1C1C1C;
}

nav ul {
	margin: 0 auto;
	list-style: none;
	width: 940px;
}

nav ul li {
	float: left;
}

nav ul li a {
	display: block;
	text-decoration: none;
	margin-right: 20px;
	width: 140px;
	font-size: 14px;
	line-height: 44px;
	text-align: center;
	color:  #777;
}

nav ul li a:hover{
	color: #fff;
}

nav ul li.selected a {
	color: #fff;
}

nav ul li.subscribe a {
	margin-left: 22px;
	padding-left: 34px;
}